body{
    margin: 0;
}
/* footer */
 .footer{
    padding: 10px;
    height: 30%; 
    
}
 .fcols{
    float: left;
    width: 33.33%;
    color:#C08081;
    

 }
 
 .fcon a{
    text-decoration: none;
    font-size: 15px;
    color: #C08081;
    
 }
