body{
    margin: 0;
}
/* Main Content */
.con h1{
    text-align: center;
    font-size: 25px;
    color: #551606;
}
.con h2{
    text-align: center;
    font-size: 20px;  
    color: #551606;
}
/* course categories */
.categories{
    margin: 10px 5px;
    color: #733635;
}
.course{
    /* create three equal cols */
   float: left;
   width: 33.33%;
   color: #36454F;
   
}
 .categories:after{
    /* clear float after row */
    content: "";
    display: table;
    clear: both;   

 }
 .content{
    background-color: #E8ADAA;
    padding: 15px 5px;
    font-size: 25px;
    text-align: center;
 }
 .content a{
    text-decoration: none;
    color: #7F4E52;
    
 }
 /* footer */
 .footer{
    padding: 10px;
    height: 30%; 
    
}
 .fcols{
    float: left;
    width: 33.33%;
    color:#C08081;
    

 }
 
 .fcon a{
    text-decoration: none;
    font-size: 15px;
    color: #C08081;
    
 }
