/* navigatipn bar */
.nav{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #A70D2A;
    position: sticky;
    top: 0;
    height: 50px;
}
.nav a{
    padding: 15px;
    float: left;
    color: white;
    text-align: left;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}
.nav a:hover{
    background-color: #C24641;
}